<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Freedom Board</title>
    
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="/css/bootstrap.css" rel = "stylesheet"/>
	<link href="/css/bootstrap-responsive.css" rel = "stylesheet"/>
	
  </head>
  <body class='container'>
	<div class = 'row text-center'>
		<h1 class = "freedom" >Pisara ng Kalayaan</h1>
		
		<div class = "col-sm-8">
			<%= form_for :post, url: posts_path do |f| %>
				<div class = "form-group">
					<%= f.text_area :post_content, :class => "upper-textarea", :rows=>3,:placeholder=>"Maaaring magsulat ng mensahe"%>
				</div>
				<div class = "form-group">
					<%=f.text_area :sender, :class => "lower-textarea", :rows=>1, :placeholder => "Walang lagda"%>
					<%= f.submit "Ipahayag", :class=> "btn btn-primary" %>
				</div>
			<%end%>
			
			<div class= "panel panel-primary">
				<div class = "form-group">
					
					<%= form_for :findpost, url: "/findpost" do |f| %>
						<%= f.text_area :to_find, :class => "form-control", :rows=>1%>
						<%= f.submit "Hanapin", :class => "btn btn-primary"%>
					<%end%>
					
					<%= form_for :allpost, url: "/allposts" do |f| %>
						
						<%= f.submit "Lahat ng posts", :class => "btn btn-primary"%>
					<%end%>
					
					
				</div>
				<div class = "con">
				<section>
					<div class="panel-body">
						<% @posts.reverse.each do |post|%>
							<div class = "within">
								<div class = "pull-left"><label class = "lbl"><%=post.sender%> </label></div>
								<div class = "pull-right"><label class = "lbl"><%=post.created_at%> </label></div>
								<br><p><%= post.post_content%> </p>
							</div>
						<%end%>
					</div>
				</section>
				
			</div>
			</div>
		</div>
	</div>
  </body>
</html>